.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

body {
  background-color: #00142e;
  background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */


/* TODO Color scheme and background */
