#search-bar {
  width: 70%;
  padding-left: 15%;
}

#search-button {
  margin-left: 15px;
}

@media (max-width: 768px) {
  #search-bar {
    padding-left: 0;
    width: 90%;
    display: block
  }
  #search-button {
    display: block;
    margin: 10px 0 0 0;
  }
}

