#item-list ul {
  padding: 0;
  margin: 20px 0;
  font-family: Arial, sans serif;
}

#item-list ul > li {
  list-style: none;
  border-top: 1px solid #ddd;
  display: block;
  padding: 15px;
  overflow: hidden;
  opacity: 0;
}

.expand {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 18px;
}

span {
  font-size: 14px;
}

.detail {
  margin: 20px 0 0 0;
  display: block;
  line-height: 22px;
}

.right-arrow {
  width: 10px;
  height: 10px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 15px 0 0;
}

.icon {
  height: 100px;
  width: 100px;
  float: right;
}

.going-btn {
  margin: 10px 0 0 0;
  float: right;
  width: 100px;
}

.going-btn-sm {
  display: none;
}

@media (max-width: 768px) {
  #item-list {
    float: right;
    max-width: 100%;
  }

  .col-xs-3 {
    padding-left: 0;
    padding-right: 5px
  }

  #snippet {
    font-size: small;
  }

  #business-info {
    padding-right: 0;
  }

}

@media (max-width: 470px) {
  .icon {
    height: 70px;
    width: 70px;
  }
  .going-btn {
    display: none;
  }
  .going-btn-sm {
    width: 70px;
    margin: 10px 0 0 0;
    padding: 7px 10px 7px 10px;
    float: right;
    display: inline;
  }
  #item-list {
    padding-left: -5px;
  }
  .container {
    padding-left: 0;
    padding-right: 4px;
  }
}
