<!-- Loading animation -->
<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>


<!--Business list -->
<div id="item-list" class="results-list" style="max-width: 95%">
  <ul>
    <li ng-repeat="business in results.businesses" id="business-container" class="container-fluid business well">
      <div class="col-xs-3 col-sm-2">
        <div class="icon"><img class="img-responsive img-thumbnail center-block" src="{{ business.image_url || 'https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c7a42ec68c3c/assets/img/default_avatars/business_180_square.png'}}"></div>
        <button class="btn going-btn" ng-class="{'btn-success': !rsvpStatus($index), 'btn-danger': rsvpStatus($index)}" ng-click="toggleVisitor($index)">{{ getText($index) }}</button>
        <button class="btn going-btn-sm" ng-class="{'btn-success': !rsvpStatus($index), 'btn-danger': rsvpStatus($index)}" ng-click="toggleVisitor($index)">{{ getTextSmall($index) }}</button>
      </div>
      <div id="business-info" class="col-xs-9">
        <a href="{{ business.url }}"><h2> {{ business.name }} </h2></a>
        <!-- Visitors list templates -->
        <!-- Show if there are some visitors -->
        <span ng-show="business.visitorData.visitors.length > 0">
          <span ng-repeat="visitor in business.visitorData.visitors | limitTo: 3" class="visitor">
            <a href="https://twitter.com/{{ visitor.username }}">@{{ visitor.username }}</a>
          </span>
        </span>
        <!--Also show if more than 3 visitors-->
        <span ng-show="business.visitorData.visitors.length > 3">
          <span>...and <a>{{business.visitorData.visitors.length - 3}} others</a></span>
        </span>
        <span ng-show="business.visitorData.visitors.length > 1">
          are going.
        </span>
        <span ng-show="business.visitorData.visitors.length === 1">
          is going.
        </span>
        <!-- No Visitors -->
        <span ng-show="business.visitorData.visitors.length === 0">
          No one has RSVP'd yet. You can start the trend!
        </span>

        <div class="detail">
          <span id="snippet"> {{ business.snippet_text }} </span>
          <br/>
        </div>
      </div>
    </li>
  </ul>
</div>

