#item-list ul {
  padding: 0;
  margin: 20px 0;
  font-family: Arial, sans serif;
  color: #555;
}

#item-list ul > li {
  list-style: none;
  border-top: 1px solid #ddd;
  display: block;
  padding: 15px;
  overflow: hidden;
}

#item-list ul:last-child {
  border-bottom: 1px solid #ddd;
}

#item-list ul > li:hover {
  background: #efefef;
}


.expand {
  display: block;
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 18px;
}

span {
  font-size: 14px;
}

.detail {
  margin: 20px 0 0 0;
  display: block;
  line-height: 22px;
}

.right-arrow {
  width: 10px;
  height: 10px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 15px 0 0;
}

.icon {
  height: 100px;
  width: 100px;
  float: right;
}

.going-button {
  margin: 10px 0 0 0;
  float: right;
  width: 100px;
}

@media (max-width: 768px) {
  #item-list {
    float: right;
    max-width: 100%;
  }

  .col-xs-3 {
    padding-left: 0;
    padding-right: 5px
  }

}
